
# This requirements file is for running the testing scripts


# For database access
neo4j

# For passing in Neo4j Password as a GITHUB_ACTIONS secret in the actions workflow env
argparse

# For computing tests
numpy
pandas
polars
logging
osfclient

# Testing suite
pytest
pytest-cov
